.section {
    padding: 32px;
    margin: 0 auto;
    width: 100%;
    max-width: 456px;
    background: #fff;
    border-radius: 24px;

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29.05px;
        margin-bottom: 32px;
        text-align: center;
    }

    .drawerInp {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .resetPassword {
        height: 48px;
        box-shadow: 0px 1px 2px 0px #1018280D;
        margin-bottom: 32px;

        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .goBack {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &>a {
            color: var(--primary-color);

            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }
    }
}