.section {
  padding: 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 456px;
  background: #fff;
  border-radius: 24px;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 16px;
    text-align: center;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    margin-bottom: 24px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .drawerInp {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .passwordInp {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .text {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #344054;
    }
  }

  .submitBtn {
    height: 48px;
    box-shadow: 0px 1px 2px 0px #1018280d;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .goBack {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & > a {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
