.contacts {
  flex: 1;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  // overflow: hidden;

  .setcion {
    // overflow: scroll;
    width: 100%;
    min-height: 100%;
    padding: 18.5px 24px;
    background: #fff;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 2px 0px #1018280d;
    border-radius: 12px;

    display: flex;
    flex-direction: column;

    .head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      align-items: center;
      gap: 8px;

      .headBtns {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

        .addContact {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }

    .uploadNewContactsInfo {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: red;
      margin-bottom: 24px;
    }

    .searchSection {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 24px;
    }

    .table {
      flex: 1;
      border: 1px solid #eaecf0;
      border-radius: 12px;

      display: flex;
      flex-direction: column;

      .tabListWrapper {
        padding: 20px 24px;
        display: flex;
        justify-content: space-between;

        .tabList {
          display: flex;
          align-items: center;
          gap: 16px;

          .contactTab {
            padding-bottom: 11px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            gap: 8px;

            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #344054;

            &.activeTab {
              border-bottom: 2px solid var(--primary-bg);
              color: var(--primary-bg);

              .count {
                background: #f9f5ff;
                border-color: #e9d7fe;
              }
            }

            .count {
              min-width: 22px;
              height: 22px;
              background: #f9fafb;
              border: 1px solid #eaecf0;
              border-radius: 50%;
              @include element-center;
            }
          }
        }

        .deleteSelected {
          display: flex;
          align-items: center;
          gap: 8px;
          background: #ff3b30;
          color: #fff;
          height: 32px;
          white-space: nowrap;
          padding: 4px;
          border-radius: 4px;

          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .chakraTable {
        flex: 1;
        border: none;

        .full_name {
          display: flex;
          align-items: center;
          gap: 4px;
          user-select: none;

          & > input {
            display: none;
          }
        }

        .status {
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 2px 8px;
          border-radius: 16px;

          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }

        .success {
          border: 1px solid #abefc6;
          color: #067647;
          background: #ecfdf3;
        }

        .processing {
          border: 1px solid #eaecf0;
          color: #344054;
          background: #f9fafb;
        }

        .declined {
          border: 1px solid #fecdca;
          color: #b42318;
          background: #fef3f2;
        }
      }
    }
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .agreements {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    user-select: none;

    .characterUsageGuide {
      color: var(--underline-color);
      text-decoration: underline;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.btns {
  display: flex;
  gap: 6px;

  .mdBlock {
    padding: 4px;
    background: #000;
    color: #fff;
  }

  .tbEdit {
    padding: 4px;
    background: #ffcc00;
  }

  .faRegTrashAlt {
    padding: 4px;
    background: #ff3b30;
    color: #fff;
  }

  .ciUnlock {
    padding: 4px;
    background: #008cff;
    color: #fff;
  }
}
