.imgs {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;

    .img {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;

        .btns {
            position: absolute;
            top: 2px;
            right: 2px;
            display: flex;
            align-items: center;
            gap: 3px;

            .remove {
                background: red;
                border-radius: 4px;
                padding: 0;
                border: none;
            }

            .download {
                background: #fff;
                border-radius: 4px;
                padding: 0;
                border: none;
            }
        }
    }
}