.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #475467;
    padding: 8px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #475467;
    padding: 8px;
}