.selectContainer {
    position: relative;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 6px;
    color: #374151;

    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.selectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 0 8px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;

    .placeholder {
        white-space: nowrap;
    }

    &:hover {
        // border-color: #d68aff;
        background: #6941c62a !important;
    }

    &.open {
        border-color: var(--primary);
        box-shadow: 0 0 0 1px var(--primary);
    }
}

.arrow {
    transition: transform 0.2s ease;

    &.open {
        transform: rotate(180deg);
    }
}

.optionsContainer {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    z-index: 10;
    max-height: 300px;
    overflow: scroll;

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.option {
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: #f7fafc;
    }

    &.selected {
        background-color: #6941C6;
        color: #fff;
    }
}