.signup {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .loginHeader {
        margin-bottom: 0;
    }

    .stages {
        width: 100%;
        max-width: 1248px;
        margin: 0 auto;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 24px;

        .stage {
            flex: 1;
            padding: 24px 0;

            .line {
                background: #E5E9EB;
                width: 100%;
                height: 8px;
                border-radius: 5px;
                margin-bottom: 8px;

                &.activeStep {
                    background: var(--primary-color);
                }
            }

            .stageName {
                font-weight: 500;
                font-size: 14px;
                line-height: 16.94px;
                color: #141A21;
            }
        }
    }
}