.addBtn {
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .textarea {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .originalTextRequirement {
            color: red;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }

        .characterCountingBtn {
            color: var(--underline-color);
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
            user-select: none;
        }

        &>textarea {
            width: 100%;
            min-height: 130px;
            border: 1px solid #D0D5DD;
            border-radius: 8px;
            padding: 10px 14px;
        }
    }

    .characterUsageGuide {
        color: var(--underline-color);
        text-decoration: underline;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .agreements {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        user-select: none;

        &>label {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
}