.stageTwo {
    flex: 1;
    background: #FAFAFA;
    padding: 56px 0;

    .container {
        max-width: 1248px;
        width: 100%;
        margin: 0 auto;
        background: #fff;
        border-radius: 32px;
        padding: 20px;

        .title {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #303940;
        }

        .desc {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #666666;
            margin-bottom: 40px;
        }

        .parties {
            display: flex;
            margin-bottom: 32px;

            .executor {
                padding-right: 72px;
            }

            .customer {
                display: flex;
                flex-direction: column;

                .clientInfo {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    gap: 5px;

                    .inp {
                        background: #ece4ff;
                        padding: 0 4px;
                        border-radius: 4px;
                    }
                }
            }
        }

        .privacy_policy {
            display: flex;
            gap: 16px;

            .offer {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                user-select: none;
            }

            &>input {
                width: 24px;
                height: 24px;
            }
        }
    }
}