.pageHeader {
    width: 100%;
    border-bottom: 1px solid #EAECF0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 21px;

    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
    }

    .children {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 16px;

        .langSelect {
            box-shadow: 0px 1px 2px 0px #1018280D;
            border: 1px solid #D0D5DD;
            border-radius: 28px;

            &>*:first-child {
                border-radius: 28px;
                background: #fff;
            }
        }

        .balance {
            height: 40px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            white-space: nowrap;
            box-shadow: 0px 1px 2px 0px #1018280D;
            border: 1px solid #D0D5DD;
            border-radius: 28px;
            background: #fff;

            font-weight: 600;
            font-size: 12px;
            line-height: 14.52px;
        }
    }
}