.wrapper {
    flex: 1;
    overflow: scroll;
    padding: 32px 32px 0;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;

    .section {
        width: 100%;
        // min-height: 85vh;
        padding: 18.5px 24px;
        background: #fff;
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 12px;

        display: flex;
        flex-direction: column;

        .textsWrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;

            .texts {
                font-weight: 400;
                font-size: 14px;
            }
        }

        .smsLengthAndCharacters {
            margin-bottom: 20px;
        }

        .chakraTable {
            margin-bottom: 20px;
        }

        .important {
            display: flex;
            flex-direction: column;
            gap: 20px;

            font-weight: 700;
            font-size: 16px;
        }
    }
}