.radioInput {
    background: #EEF0F2;
    padding: 8.5px 8px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    accent-color: var(--primary-bg);
}