.table {
    flex: 1;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    overflow: hidden;
    border: 1px solid #EAECF0;

    .chakraTable {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .wrapper {
            flex: 1;
            overflow: scroll;

            .tHead {
                position: sticky;
                top: 0;
                background: #F9FAFB;
                z-index: 1;

                .th {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    color: #475467;
                    border: none;
                    text-transform: none;
                }
            }

            .tBody {

                .td {
                    vertical-align: top;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #475467;
                    border-right: none;
                    border-left: none;
                    // white-space: nowrap;

                    .btns {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &>div {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

.abilitiesLength {
    background: #F9FAFB;
    padding: 2px 4px;
    border-radius: 16px;

    border: 1px solid #EAECF0;
}

.emptyTable {
    width: 100%;
    height: 100%;
    @include element-center;

    .emptySection {
        flex: 1;
        @include element-center;
        flex-direction: column;

        .img {
            width: 150px;
            height: 150px;

            &>img {
                width: 100%;
                height: 100%;
            }
        }
    }
}