.sendSMS {
    flex: 1;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    // overflow: hidden;

    .setcion {
        // overflow: hidden;
        width: 100%;
        // height: 100%;
        padding: 18.5px 24px;
        background: #fff;
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 12px;

        display: flex;
        flex-direction: column;

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .btns {
                display: flex;
                align-items: center;
                gap: 8px;

                .btn {
                    border: 1px solid #E5E9EB;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    border-radius: 33px;
                }
            }

            .viewInstructionsLink {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: var(--primary-color);
            }
        }

        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px 16px;

            .drawerInp {
                display: flex;
                flex-direction: column;

                .textarea {
                    min-height: 130px;
                    border: 1px solid #D0D5DD;
                    border-radius: 8px;
                    padding: 10px 14px;
                }
            }

            .fullWidth {
                grid-column: 1/3;
            }

            .sendTypes {
                grid-column: 1/3;
                display: flex;
                gap: 6px;
            }

            .dateInps {
                grid-column: 1/2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                gap: 6px;

                .date {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #D0D5DD;
                    border-radius: 8px;
                    padding: 0 14px;

                    &>input {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .sendBtn {
                width: auto;
                max-width: max-content;
                min-width: 310px;

                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}