.groups {
    flex: 1;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .section {
        width: 100%;
        min-height: 100%;
        padding: 18.5px 24px;
        background: #fff;
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 12px;

        display: flex;
        flex-direction: column;

        .chakraTable {
            flex: 1;

            .btns {
                display: flex;
                gap: 6px;

                .tbEdit {
                    padding: 4px;
                    background: #FFCC00;
                }

                .faRegTrashAlt {
                    padding: 4px;
                    background: #FF3B30;
                    color: #fff;
                }
            }
        }
    }
}