.SMSGateway {
    flex: 1;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    // overflow: hidden;

    .setcion {
        // overflow: hidden;
        width: 100%;
        // height: 100%;
        padding: 18.5px 24px;
        background: #fff;
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        .SMSGatewayTitle {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 6px;
        }

        .docs {
            height: 44px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .docsTitle {
                font-weight: 600;
                font-size: 12px;
                line-height: 14.52px;
            }

            &>a {
                font-weight: 600;
                font-size: 12px;
                line-height: 14.52px;
                color: #4379ee;
            }
        }

        .form {
            display: flex;
            gap: 16px;

            .drawerInp {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }
        }
    }
}