.login {
    width: 100%;
    height: 100vh;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;

    // .body {
    //     flex: 1;
    //     display: flex;
    //     justify-content: center;
    // }

    .section {
        padding: 32px;
        margin: 0 auto;
        width: 100%;
        max-width: 456px;
        background: #fff;
        border-radius: 24px;

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29.05px;
            margin-bottom: 32px;
            text-align: center;
        }

        .drawerInp {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .passwordInp {
            display: flex;
            flex-direction: column;

            .text {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: #344054;
            }
        }

        .forgotPassword {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #6941C6;
            margin-bottom: 24px;
        }

        .loginBtn {
            height: 48px;
            box-shadow: 0px 1px 2px 0px #1018280D;
            margin-bottom: 32px;

            width: 100%;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }

        .signUp {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            &>span {
                color: #475467;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }

            &>a {
                color: var(--primary-color);

                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}